{:rows [{:bb-ms 30.941167, :nano-ms 67.280375, :name "fib25", :bb-ok true, :expected "75025", :clj-ms 480.333791, :clj-ok true, :jank :NOT_INSTALLED, :nano-ok true} {:bb-ms 13.987208, :nano-ms 6.82275, :name "tight-loop-10k", :bb-ok true, :expected "49995000", :clj-ms 463.952667, :clj-ok true, :jank :NOT_INSTALLED, :nano-ok true} {:bb-ms 12.665, :nano-ms 3.8965, :name "reduce-+-range-10k", :bb-ok true, :expected "49995000", :clj-ms 341.492334, :clj-ok true, :jank :NOT_INSTALLED, :nano-ok true}], :timestamp-ms 1777102919521, :runtimes {:bb true, :clojure true, :nanoclj-zig true, :jank false}}